@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

body {
  margin: 0;

  font-family: "Open Sans Light";
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.1px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*HEADER*/
.index-header,
.catalog-header {
  background: linear-gradient(#ffffff, #ffffff 20%, #f7e296 20%, #f7e296 100%);
}

.search-area input {
  border: none;

  background: transparent;
}

.search-area input::placeholder {
  opacity: 0.3;
}

.search-area input:hover::placeholder {
  opacity: 0.6;
}

.search-area input:focus {
  border-bottom: 2px solid #000000;
}

.search-button {
  display: none;
  background: transparent;
  border: 2px solid #000000;
}

.search-area input:focus ~ .search-button {
  display: inline-block;
}

.search-button:hover,
.search-button:focus {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-menu-item,
.user-nav-item a,
.onpage-menu-item {
  color: #000000;
}

.catalog-menu-item {
  line-height: 36px;
}

.onpage-menu-item {
  font-family: "Gilroy Extra Bold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.catalog-link {
  cursor: pointer;
}

.catalog-menu,
.user-nav {
  list-style: none;
}

.catalog-menu {
  background-color: #f7e296;
}

.logo:hover,
.logo:focus,
.user-nav-item a:hover,
.user-nav-item a:focus,
.onpage-menu-item:hover,
.onpage-menu-item:focus,
.catalog-menu-item:hover,
.catalog-menu-item:focus {
  opacity: 0.6;
}

.logo:active,
.user-nav-item a:active,
.onpage-menu-item:active,
.catalog-menu-item:active {
  opacity: 0.3;
}

/*MAIN-INDEX*/
/*Slider*/
.moto {
  font-family: "Gilroy Extra Bold";
  font-size: 47px;
  line-height: 56px;
}

.number {
  font-family: "Gilroy Extra Bold";
  font-size: 179.2px;
  line-height: 179.2px; /*Вероятно прийдется уменьшать*/
  color: #ffffff;
}

.button-line {
  font-family: "Gilroy Extra Bold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;

  background: linear-gradient(
    #ffffff,
    #ffffff 34%,
    #f0c52e 35%,
    #f0c52e 66%,
    #ffffff 67%,
    #ffffff 100%
  );
}

.button-line:hover,
.button-line:focus {
  background: #f0c52e;
}

.button-line:active {
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.6);
}

.option-value {
  font-family: "Gilroy Light";
  font-size: 36px;
  line-height: 48px;
}

.open-name {
  font-size: 13px;
  line-height: 20px;
}

/*Popular links*/
.popular {
  font-family: "Gilroy Extra Bold";
  font-size: 18px;
  line-height: 24px;
}

.popular-menu {
  list-style: none;
}

.popular-menu-item {
  color: #000000;
}

.popular-menu-item:active {
  opacity: 0.3;
}

/*Services slider*/

.slider-services {
  background: linear-gradient(
    #ffffff,
    #ffffff 50%,
    #e5e5e5 51%,
    #e5e5e5 100%
  ); /*временное значение*/
}

.labels-list {
  list-style: none;
}

.labels-list-item label {
  font-family: "Gilroy Extra Bold";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;

  background: linear-gradient(
    #ffffff,
    #ffffff 34%,
    #f0c52e 35%,
    #f0c52e 66%,
    #ffffff 67%,
    #ffffff 100%
  );
}

.labels-list-item label:focus,
.labels-list-item label:hover {
  background: none;
  background-color: #f0c52e;
}

.labels-list-item label:active,
.labels-list-item input:checked ~ label {
  background: none;
  color: #f7e184;
  background-color: #000000;
}

.services-heading {
  font-family: "Gilroy Extra Bold";
  font-size: 47px;
  line-height: 48px;
}

.services-slide p {
  color: #464646;
}

/*Logotypes*/

.logotypes-list {
  list-style: none;
}

/*Information*/

.info-heading {
  font-family: "Gilroy Extra Bold";
  font-size: 47px;
  line-height: 48px;
}

.logistics-list {
  list-style: none;
  font-family: "Gilroy Extra Bold";
  font-size: 16px;
}

/*Footer*/

.footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-nav {
  list-style: none;
}

.footer-user-nav-item {
  color: #ffffff;
  opacity: 0.7;
}

.footer-user-nav-item:hover,
.footer-user-nav-item:focus{
  opacity: 1;
}

.footer-user-nav-item:active{
  opacity: 0.3;
}

.footer-onpage-menu {
  list-style: none;
}

.footer-onpage-menu-item{
  color: #ffffff;
  font-family: "Gilroy Extra Bold";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
}

.footer-onpage-menu-item:hover,
.footer-onpage-menu-item:focus{
  opacity: 0.6;
}

.footer-onpage-menu-item:active{
  opacity: 0.3;
}

.phone{
  color: #ffffff;
}

.socials-list{
  list-style: none;
}

.socials-list-item{
  opacity: 0.3;
}

.socials-list-item:focus,
.socials-list-item:hover{
  opacity: 0.6;
}

.socials-list-item:active{
  opacity: 0.1;
}

.academy-logo:focus,
.academy-logo:hover{
  opacity: 0.6;
}

.academy-logo:active{
  opacity: 0.3;
}
